.bg-tea{
   background-color: rgb(23, 176, 112);
}
.card-news{
    display: block;
    padding: 10px 0;
    text-decoration: none;
    border: 1px solid gray;

    border-radius: 5px;
}
.card-news:hover{
     background-color: #3d3d3d;
    }
.title, .date{
 display: block;
}
.title{
    color: black;
    font-weight: 700;
    font-size: 20px;
}
.date{
    color: gray; 
}
.post-detail{
    border-radius: 5px;
    margin: 10px;
    border: 1px solid gray;
    padding: 20px 0;

}